@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* * {
    font-family: 'Salsa', cursive;
    font-family: 'Noto Color Emoji', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Ceviche One', system-ui;
} */

:root {
    --black: #0e0e0f; 
    --btn: rgb(80, 54, 81);
    --btn-txt: #dfc322;
    --dkgrey: #26272d;
    --dkgrey-trans: #26272dac;

    --ltgrey: #a8a2a2;
    --white: #f5eeee;

    --wood: #297062;
    --fire: #7e2424;
    --earth: #987320;
    --metal: #90555d;
    --water: #4d4b71;

    --you: #bbdee9;
    --comp: #edd7da;
    --win-lose: #f8f8d2;

    --btn-border: 13px dashed; 
    --content-width: 750px;
    --default-border-radius: 50px;

    --default-text: "Salsa", cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    --title-text: "Luckiest Guy", cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --chinese-chars: "Noto Sans TC", sans-serif;
}

* {
    /* Use dark red border to aid in aligning boxes. */
    /* border: 2px dotted darkred; */
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    /* width: 100vw; */
    display: flex;
        flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

/* .emoji1, .emoji2 {
    font-family: 'Noto Color Emoji', sans-serif;;
} */

/* HEADER */

header {
    background-color: var(--dkgrey);
    color: var(--white);
    width: 100vw;
}

header-container {
    display: flex;
        flex-direction: column;
    margin: auto;
    width: var(--content-width);
}

header-title {
    display: flex;
    font-family: var(--title-text);
    font-size: 30px;
    margin-top: -40px;
    margin-bottom: -40px;
    text-align: center;
}   

header-chinese {
    font-family: var(--chinese-chars);
    font-size: 60px;
}

header-inner-container {
    display: flex;
    font-family: var(--default-text);
}

header-left {
    display: block;
    margin-left: 5px;
}

header-left ol {
    font-size: 18px;;
    margin-block-start: -10px;
    padding-left: 18px;
}

header-container img {
    max-width: 300px;
    
/* animation */

    animation: wheel-spin infinite 45s linear;
    transition: filter 3000ms;
}

@keyframes wheel-spin {
from {
  transform: rotate(360deg);
}
to {
  transform: rotate(0deg);
}
}

/* ELEMENT SECTION */

element-section {
    background-color: var(--white);
    color: var(--dkgrey); 
    display: block;
    font-family: var(--title-text);
    font-size: 40px;
    /* font-weight: bolder; */
    padding: 20px 0 0 0;
    /* margin: 0 -10px; */
    text-align: center;
}

element-section h3 {
    margin: auto;
}

element-section-view {
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

element-section-view img {
    height: 70px;
    width: 70px;
}

.elem-btn {
    height: 145px;
    width: 145px;
    border: 10px double var(--white);
    border-radius: 100px;
    color: var(--white);
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    font-size: 22px;
    font-family: var(--title-text);
    text-align: center;
    margin: 5px;
    transition: 100ms;
}

.elem-btn  img {
    margin: 8px;
}

.elem-btn:active {
    height: 145px;
    width: 148px;
    transform: scale(1.2);
}

#btn-wo {
    background-color: var(--wood);
}

#btn-wo:hover {
    border: var(--btn-border) var(--wood);
}

#btn-fi {
    background-color: var(--fire);
}

#btn-fi:hover {
    border: var(--btn-border) var(--fire);
}

#btn-ea {
    background-color: var(--earth);
}

#btn-ea:hover {
    border: var(--btn-border) var(--earth);
}

#btn-me {
    background-color: var(--metal);
}

#btn-me:hover {
    border: var(--btn-border) var(--metal);
}

#btn-wa {
    background-color: var(--water);
}

#btn-wa:hover {
    border: var(--btn-border) var(--water);
}

#btn-wo:hover, 
#btn-fi:hover, 
#btn-ea:hover, 
#btn-me:hover, 
#btn-wa:hover  {
    background-color: var(--dkgrey);
    
}

/* ELEMENT CHOICE SECTION */

choice-section {
    margin: auto;
}

choice-view {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: center;
    padding: 10px;
}

choice-box {
    height: 70px;
    width: var(--content-width);
    background-color: var(--dkgrey);
    border-radius: var(--default-border-radius);
    color: var(--white);
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    font-family: var(--default-text) ;
    margin: 5px;
    padding: 5px;
}

#my-pick {
    color: var(--you);
}

#comp-pick {
    color: var(--comp);
}

/* GAME TALLY SECTION */

game-tally-section {
    font-family: var(--default-text);   
    margin: auto;
}

game-tally-view {
    background-color: var(--white);
    display: flex;
        /* align-items: center; */
        justify-content: center;
    margin: 0 20px 40px 20px;
}

game-wins-box, game-losses-box {
    height: 300px;
    width: 150px;
    background-color: var(--dkgrey);
    border-radius: var(--default-border-radius);
    display: flex;
        flex-direction: column;
        justify-content: center;
    margin: 0 20px 0 20px;
    padding: 40px 0 20px 0;   
    text-align: center;
}

game-wins-box {
    color: var(--you);
}

game-losses-box {
    color: var(--comp);
}

game-wins-box p, game-losses-box p {
    font-size: 20px;
    margin: auto;
}

game-wins-box h3, game-losses-box h3 {
    font-size: 150px;
    margin: auto;
}

current-game-msg-box {
    height:300px;
    width: 400px;
    background-color: var(--dkgrey);
    border-radius: var(--default-border-radius);
    color: var(--win-lose);
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    text-align: center;
}

current-game-msg-inner-box {
    display: flex;
        align-items: center;
        justify-content: center;
}

#win-msg {
    color: var(--win-lose);
    font-family: var(--title-text);
    font-weight: 100;
    font-size: 40px;
    padding: 20px;;
}

/* FOOTER */

footer {
    background-color: var(--dkgrey);
    border: 10px dotted var(--dkgrey);
    color: var(--white);
    display: flex;
        justify-content: center;
    margin-top: auto;
}

footer p {
    font-family: var(--title-text);
    font-size: 24px;
}

/* MODAL SECTION (THIS IS NEW FOR ME) */

custom-modal {
    height: 100vh;
    width: 100vw;
    background-color: var(--dkgrey-trans);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10px;
}

modal-content {
    height:420px;
    width: 770px;
    background-color: var(--black);
    border: 13px dashed var(--btn-txt);
    border-radius: var(--default-border-radius);
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    margin: auto;
    padding: 10px;
}

#modal-message {
    color: var(--btn-txt);
    font-family: var(--title-text);
    font-size: 50px;
    font-weight: 100;
    text-align: center;  
}

#modal-close-btn {
    height: 80px;
    width: 88%;
    background-color: var(--btn);
    border: 10px solid var(--btn-txt);
    border-radius: var(--default-border-radius);
    color: var(--btn-txt);
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
    font-family: var(--title-text);
    font-size: 50px;
    padding: 50px;
}

/* FUTURE RESPONSIVE MOBILE SETUP */

@media screen and (max-width: 480px) {

}